{require_otp_vsn, "R13B04|R14|R15"}.


{deps,
    [
        {piqi, "", {git, "git@github.com:spilgames/piqi-erlang.git", {tag, "platform_sanity_checks"}}},
        {webmachine, "1.9.1-2", {git, "git@github.com:spilgames/webmachine.git", {tag, "1.9.1-2"}}}
    ]}.


{pre_hooks, [
        {'compile', "make/post-hooks-get-deps"}
    ]}.

{post_hooks, [
        {'delete-deps', "rm -f src include"},
        {'delete-deps', "ln -s fake_src src"},

		{'clean', "rm -f src include"},
        {'clean', "ln -s fake_src src"}
    ]}.

