{require_otp_vsn, "R13B04|R14|R15"}.


{deps,
    [
        {piqi, "0.5.7", {git, "git@github.com:spilgames/piqi-erlang.git", {tag, "0.5.7"}}},
        {webmachine, "1.9.2", {git, "git@github.com:spilgames/webmachine.git", {tag, "1.9.2"}}}
    ]}.


{post_hooks, [
        {'get-deps', "make/post-hooks-get-deps"},

        {'delete-deps', "rm -f src include"},
        {'delete-deps', "ln -s fake_src src"}
    ]}.


% vim:ft=erlang
