{require_otp_vsn, "R13B04|R14|R15"}.


{deps,
    [
        {piqi, "",{git, "git@github.com:spilgames/piqi-erlang.git",
            {tag, "2012-01-29-dynamic-appsrc"}}},
        {webmachine, "1.9.1-3", {git, "git@github.com:spilgames/webmachine.git",
            {tag, "1.9.1-3"}}}
    ]}.


{pre_hooks, [
        {'compile', "make/post-hooks-get-deps"}
    ]}.

{post_hooks, [
        {'compile', "make/recompile-app-src-file"},
        {'delete-deps', "rm -f src include"},
        {'delete-deps', "ln -s fake_src src"},
        {'clean', "rm -f src include"},
        {'clean', "ln -s fake_src src"},
        {'clean', "rm -f .app_src_recompiled"}
    ]}.

